In [1]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="127.0.0.1", database = 'film',user="root", passwd="Theorico1.",use_pure=True)
    query = "select c.customer_id, c.start_date, p.plan_name, p.price from subscriptions as c join plans as p on p.plan_id = c.plan_id where c.customer_id in (1,2,13,16) order by c.customer_id ASC;"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

C:\Users\theot\AppData\Local\Temp\ipykernel_2512\4021519539.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query,mydb)

In [2]:
result_dataFrame.to_csv('film.csv')

In [3]:
import pandas as pd
df = pd.read_csv('film.csv')

In [5]:
df.drop(['Unnamed: 0'], axis = 1)

   customer_id  start_date      plan_name      price
0            1  2020-08-01          trial        0.0
1            1  2020-08-08  basic monthly   200000.0
2            2  2020-09-20          trial        0.0
3            2  2020-09-27     pro annual  2999000.0
4           13  2020-12-15          trial        0.0
5           13  2020-12-22  basic monthly   200000.0
6           13  2021-03-29    pro monthly   399000.0
7           16  2020-05-31          trial        0.0
8           16  2020-06-07  basic monthly   200000.0
9           16  2020-10-21     pro annual  2999000.0